/*!* Button used to open the contact form - fixed at the bottom of the page *!*/
.open-button {
    background-color: white;
    color: black;
    padding: 4px 4px;
    width: 48px;
    border: 1px solid black;
}

/*!* The popup form - hidden by default *!*/
.form-popup {
    background-color: white;
    width: 30%;
    display: none;
    position: fixed;
    left: 40%;
    right: 40%;
    top: 50%;
    bottom: 50%;
    border: 3px solid black;
    border-radius: 3px;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    background-color: white;
}


/* Set a style for the submit/close button */
.form-container .btn {
    background-color: rgb(37, 150, 190);
    color: white;
    border: none;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
