/*!* Button used to open the contact form - fixed at the bottom of the page *!*/
.comment .open-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    height: 5%;
}

.ReportRadioButton{
    cursor: pointer;
}

/*!* The popup form - hidden by default *!*/
.form-popup {
    width: 30%;
    display: none;
    position: fixed;
    left: 35%;
    right: 40%;
    top: 50%;
    bottom: 50%;
    padding: 0;
    margin: 0;
    /*border: 3px solid black;*/
    /*border-radius: 3px;*/
    /*z-index: 9;*/
}

/* Add styles to the form container */
.form-container {
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;

}

.form-container ul {
    text-align: left;
}

.form-container .report-buttons {
    display: flex;
    justify-content: center;
}

/* Set a style for the submit/close button */
.form-container .btn {
    background-color: rgb(37, 150, 190);
    color: white;
    border: none;
    opacity: 0.8;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
