body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.inventory-popup {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
#badge-inventory {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-flow: wrap;
}
#badge1{
    border: solid #FFFFFF;
}
.badge{
    margin: 3%;
    width: 27.3%;
    height: auto;
    border: none;
}
.badge :hover{
    cursor: pointer;
}
.badge img{
    margin-left: 15%;
    margin-top: 5%;
    padding: 10%;
    width: 50px;
    height: 50px;
}
/* Set a style for the submit/login button */
.inventory-popup .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

/* Add a red background color to the cancel button */
.inventory-popup .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.inventory-popup .btn:hover, .open-button:hover {
    opacity: 1;
}