.badges {
    margin-left: 10%;
    z-index: 20;
    position: fixed;
    top: 66.4px;
    left: 100px;
    display: flex;
    width: 450px;
    /*height: 100px;*/
    /*transform: translate(0px, 65.4px);*/
    background-color: white;
    border: 2px solid black;
    border-radius: 1px;
}

.badges ul {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0;

    float: left;
    list-style-type: none;
    display: flex;
}

.badges ul li {
    margin: 15px;
}

.badge :hover{
    cursor: pointer;
}

.badge {
    border: solid white;
}

.badge img{
    margin: 2px;
    /*margin-top: 5%;*/
    /*padding: 10%;*/

    width: 50px;
    height: 50px;
}

.badge :hover{
    cursor: pointer;
}

.badge-border{
    border: solid #FFFFFF;
}