main {
    width: 1440px;
    height: 100%;
}

body {
    background-image: url("https://images.opencollective.com/discordhooks/1f8f486/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#MainContainer {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 5% 12.5% 5% 12.5%;
    background: white;
    opacity: 80%;
    border-radius: 10px;
}
#MainContainer table{
    margin: 3%;
}
#MainContainer table tr{
    width: 50%;
}
#MainContainer table tr th{
    width: 33%;
}
#MainContainer th:hover{
    cursor: pointer;
}
.Image{
    padding-top: 4px;
    width: 97%;
    height: 100%;
    size: auto;
}
#SaveBtn{
    width: 20%;
    align-self: center;
    margin-bottom: 4%;
}

.category {
    border: none;
}