.expression {
    height: 30px;
    width: 40%;
    align-content: center;
    padding-bottom: 10px;
}

#expressions {
    list-style: none;
}

#validateSendButton {
    margin-left: 90%;
    width: 9%;
    border-radius: 10px;
    border: solid black 3px;
}

.badgeName {
    height: 30px;
    width: 10%;
    align-content: center;
    padding-bottom: 10px;
}