.expression {
    height: 30px;
    width: 40%;
    align-content: center;
    padding-bottom: 10px;
}

#expressions {
    list-style: none;
}

#validateSendButton {
    margin-left: 400px;
    width: 100px;
    border-radius: 10px;
    border: solid black 3px;
}

.badgeName {
    height: 30px;
    width: 20%;
    align-content: center;
    padding-bottom: 10px;
}