.expression {
    width: 400px;
    align-content: center;
    padding-bottom: 10px;
}

#expressions {
    list-style: none;
}

#validateSendButton {
    margin-left: 400px;
    width: 100px;
    border-radius: 10px;
    border: solid black 3px;
}