.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list > li {
    margin: 10px;
    padding: 15px;
    border: 1px solid green;
    background: white;
    z-index: 100;
}

.list > li.hint {
    border: 1px solid #ffc49a;
    background: #feffb4;
}

.list > li.active {
    border: 1px solid green;
    background: #ffe7e7;
}

.listExample {
    z-index: -1;
    list-style: none;
}
.listExample input {
    display: inline-block;
    margin-left: 15px;
}
