main {
    width: 1440px;
    height: 100%;
}

body {
    background-image: url("https://images.opencollective.com/discordhooks/1f8f486/background.png");
    background-size: 100%;
}

#Side-text {
    width: 30%;
    margin-top: 5%;
}

#Heading1 {
    font-size: medium;
    text-align: center;
    margin-top: 17.5%;
    font-family: "Franklin Gothic Heavy", serif;
    color: white;
}

#Heading2 {
    font-size: medium;
    text-align: center;
    margin-top: 17.5%;
    font-family: "Franklin Gothic Heavy", serif;
    color: white;
}

#MainContainer {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 12% 12.5% 12.5% 12.5%;
    background: black;
    opacity: 80%;
    border-radius: 10px;
}

#LoginForm {
    width: 60%;
    height: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
}

#LoginForm label {
    width: 50%;
    height: 10%;
    margin: 1% 30% 0% 30%;
    color: white;
}

#LoginForm input {
    width: 50%;
    height: 24px;
    margin: 0% 30% 5% 30%;
}

#Register-text {
    font-size: small;
    margin-bottom: 4%;
}

#Register-text a {
    text-decoration: none;
    font-weight: bold;
}
#Login-btn{
    alignment: center;
    margin-bottom: 2%;
    width: 50%;
    height: 24px;
    font-size: 16px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #MainContainer{
        flex-direction: column;
    }
    #Side-text{
        width: 100%;
    }
    #LoginForm{
        width: 100%;
        align-items: center;
    }
    #Heading1 {
        display: none;
    }
    #Heading2 {
        padding: 0;
        margin-top: 2%;
    }
    #MainContainer {
        margin-top: 25%;
    }
}