.menu {
    list-style: none;
}

.menu li {
    display: inline;
    padding-left: 50px;
}

#pressedDelete {
    color: red;
}

.redEye {
    color: red;
}

.greenBtn {
    color: green;
    margin-left: 15px;
}

.redBtn {
    color: red;
    margin-left: 15px;
}