.box {
    position: fixed;
    bottom: 130px;
    right: 130px;
    width: 250px;
    height: 100px;
    border: 1px solid green;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
}