main {
    width: 1440px;
    height: 100%;
}

body {
    background-image: url("https://images.opencollective.com/discordhooks/1f8f486/background.png");
    background-size: 100%;
}
#MainContainer {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 5% 12.5% 5% 12.5%;
    background: black;
    opacity: 80%;
    border-radius: 10px;
}
#Register-form {
    width: 50%;
    height: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#Register-form label{
    color: white;
    margin-top: 3%;
}
#Register-form {
    width: 55%;
    color: white;
    margin-top: 1.5%;
}
#Register-form  input{
    width: 55%;
    color: black;
}
#Register-form input[type=submit] {
    width: 30%;
    margin-left: 12%;
    margin-top: 5%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    #MainContainer {
        margin-top: 25%;
    }
    #Register-form {
        width: 100%;
        margin-left: 15%;
    }
    #Register-form input {
        width: 85%;
        align-content: center;
    }
    #Register-form input[type=submit] {
        width: 55%;
        margin-left: 16%;
    }
}